body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #1d1c1c;
    color: #fff;
}

header {
    background-color: #009f5a;
    height: 50px;
    margin-top: 15px;
}


/* CABEÇALHO */

.filtersContainer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 7px;
}

.estiloGeralBotoes {
    border: none;
    font-weight: bold;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    display: block;
    font-size: 0.9rem;
}

.estiloGeralBotoes--mostrarTodos {
    color: black;
    background-color: #d3d3d3;
}

.estiloGeralBotoes--filtrarHortifruti {
    background-color: tomato;
    color: white;
}

.estiloGeralBotoes--filtrarHortifruti {
    background-color: tomato;
    color: white;
}

.estiloGeralBotoes--filtrarPanificadora {
    background-color: tomato;
    color: white;
}

.estiloGeralBotoes--filtrarLaticinio {
    background-color: tomato;
    color: white;
}

.containerBuscaPorNome {
    display: flex;
    justify-content: space-between;
}

.campoBuscaPorNome {
    border-radius: 5px 0 0 5px;
    border: 1px solid white;
    padding: 0 10px;
}

.estiloGeralBotoes--botaoBuscaPorNome {
    background-color: #2b36a1;
    color: white;
    border-radius: 0 5px 5px 0;
}


/* CONTEÚDO */

main {
    display: flex;
    padding: 30px;
    margin: 0 auto;
    max-width: 1280px;
}

.containerListaProdutos {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
}

.containerListaProdutos ul {
    list-style: none;
    text-align: center;
    display: flex;
    justify-content: center;
}

.containerListaProdutos ul li:not(ol li) {
    color: rgb(255, 255, 255);
    font-weight: bold;
    padding: 20px;
    margin: 10px;
    border-radius: 5px;
    transition: ease-in-out .1s;
    width: 20%;
}

.containerListaProdutos ul li:not(ol li):hover {
    box-shadow: 3px 3px 13px 1px rgb(146 146 146);
}

.containerListaProdutos ul li img {
    width: 100%;
    max-width: 80px;
}

.containerListaProdutos ul li h3 {
    font-size: 1.5rem;
}

.containerListaProdutos ul li p {
    font-size: 1.5rem;
}

.containerListaProdutos ul li span {
    font-size: 0.8rem;
    font-weight: 500;
    margin-top: 10px;
    display: inline-block;
}

.containerListaProdutos ul li button {
    background-color: #009f5a;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    color: white;
    cursor: pointer;
    height: 40px;
}

.containerListaProdutos ul li button:hover {
    box-shadow: 1px 1px 2px rgb(189, 189, 189);
}

.containerListaProdutos ul li ol {
    list-style: inside decimal;
    text-align: left;
}

.containerListaProdutos ul li ol li {
    font-size: 13px;
    margin: 7px 0;
}


/* PREÇO TOTAL */

.containerPrecoTotal {
    text-align: center;
    margin: 40px 0 30px;
}

.containerPrecoTotal p {
    font-size: 1rem;
    font-weight: 600;
}

.containerPrecoTotal p span {
    color: tomato;
}

.containerCarrinho {
    width: 450px;
    text-align: center;
    border: 1px solid #ccc;
    background-color: rgb(44, 41, 41);
}

.containerCarrinho img {
    max-width: 100px;
}

.containerCarrinho ul {
    display: flex;
    flex-direction: column;
}

.containerCarrinho li {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100px;
    border: 1px solid #ccc;
}

.containerCarrinho li:hover {
    color: #009f5a;
}

.containerCarrinho li span {
    font-size: 1.125rem;
}

.containerCarrinho li ol {
    display: none;
}


/*CARROSSEL*/

.carrosselDestaque {
    background-color: #1d1c1c;
    width: 800px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 39px;
    margin-top: 15px;
}

.carrosselDestaque h1 {
    font-weight: bold;
    font-size: 2em;
    margin-left: 10px;
    color: #009f5a;
}

.carrosselDestaque img {
    max-width: 50%;
    display: block;
    margin: 0 auto;
}